<div class="row">
    <div class="col-md-6 col-md-offset-3">

    <h3>Have Rankings</h3>
    <% if @items.any? %>
      <ul class="ranking">
           <% previous_item = @items.first %>
          <% rank = 0 %>
        <% @items.each.with_index(1) do |item, index| %>
        <ul>
          <% rank = index if @ranking[item.id] == @ranking[previous_item.id] %>
          <% previous_item = item %>
          
          <%= rank %>ä½
    
          <%= link_to image_tag(item.small_image , alt: item.title) , item %>
          <%= link_to item.title , item %>

          </ul>

        <% end %>
      </ul>
    <% end %>
    </div>
</div>